<div id="wrapper">
  <div id="header-wrapper">
    <div id="header" class="container">
      <div id="logo">
            <%=image_tag "Logo png blanco-05.png" %>
          </div>
        </div>
    </div> 
</div>

<div id="menu-wrapper" style="background:black;">
  <div id="menu" class="container">
      <ul>
        <li class="current_page_item"><a href="#">Homepage</a></li>       
        <li><a href="#">All Products</a></li>
        <li><a href="#">Tips & Influencers</a></li>
                <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</div>

<div id="page" class="container"> <!-- aca va la imagen grande! -->
  <%=image_tag "Grande 2.png" %>
</div>

<div id="footer-wrapper">
  <div id="footer" class="container">
    <div id="box1">
      <div class="title">
        <h1> Choose your skin color: </h1>
         </div>
    </div>
  </div>
</div>


<div id="portfolio-wrapper">
    <div id="portfolio" class="container">
  <tbody>
        <%= form_tag('/combinationspage', method: :get) do -%>
  <div><%= submit_tag 'Save' %></div>

    <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skins.each do |skin| %>
      <tr>
        <td><%= radio_button_tag 'skins', skin.id%></td>
        <td><%= skin.name2 %></td>
      </tr>
    <% end %>
   

    </tr>
  </thead>
  </tbody>
</table>
<input type="text" name="style" value="<%= params[:style] %>" hidden></input>

<% end %>

</div>
</div>

 <div id="logobajo" class="container" style="background:black;">
<%=image_tag "Logo png blanco-1-05.png"  %>
<p>&copy; 101. All rights reserved. - 2015 </p>
    
</div>
    
</body>

</html>
